<?xml version="1.0" encoding="utf-8" ?>
<timeZonesConfig>
  <timeZone tz="AWST" winRegEntry="W. Australia Standard Time"/>
  <timeZone tz="ACST" winRegEntry="AUS Central Standard Time"/>
  <timeZone tz="AEST" winRegEntry="AUS Eastern Standard Time"/>
  <timeZone tz="CAST" winRegEntry="Cen. Australia Standard Time"/>
  <timeZone tz="EAST" winRegEntry="E. Australia Standard Time"/>
  <timeZone tz="ATST" winRegEntry="Tasmania Standard Time"/>
  <timeZone tz="CST" winRegEntry="China Standard Time"/>
</timeZonesConfig>
